/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial;
    background: radial-gradient(circle at top, #2a0b3d, #07040f);
    color:white;
}

/* BACKGROUND LOGO */
.bg-logo{
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:80vw;
    height:80vw;
    background:url("5270.png") center no-repeat;
    background-size:contain;
    opacity:0.05;
    pointer-events:none;
    z-index:0;
}

/* HERO */
.hero{
    text-align:center;
    padding:60px 20px;
}

/* MENU */
.menu{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

/* CARDS */
.card{
    width:240px;
    height:180px;
    background:rgba(255,255,255,0.06);
    border-radius:15px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

/* SECTIONS */
.shop-section{
    display:none;
    padding:40px 20px;
    text-align:center;
}

.shop-section.active{
    display:block;
}
